name: CI Build and Test

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run hadolint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          recursive: true

  test-frontend:
    name: Frontend Tests
    runs-on: ubuntu-latest
    needs: lint
    defaults:
      run:
        working-directory: src/frontend
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm' 
          cache-dependency-path: src/frontend/package-lock.json

      - name: Install
        run: npm ci 

      - name: Build Check
        
        run: npm run build 

      - name: Cypress Headless
       
        run: npx cypress run --browser chrome

  test-go:
    name: Go Tests
    runs-on: ubuntu-latest
    needs: lint
    defaults:
      run:
        working-directory: src/product-catalog
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: Build and Test
        run: |
          go build -o /dev/null ./...
          go test -v ./...

  test-cart:
    name: Cart Service Tests (.NET)
    runs-on: ubuntu-latest
    needs: lint
    defaults:
      run:
        working-directory: src/cart
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x' # Ajusta a 7.0 o 6.0 si tu csproj es más antiguo

      - name: Restore dependencies
        # Esto es el equivalente al 'npm install' o 'pip install'
        run: dotnet restore

      - name: Build
        # Verificamos que el código compile sin errores
        run: dotnet build --no-restore

      - name: Run Tests
        # Ejecuta los tests que ya están en la carpeta /tests
        run: dotnet test --no-build --verbosity normal