name: CI Build and Test

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:

  test-frontend:
    name: Frontend Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/frontend
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm' 
          cache-dependency-path: src/frontend/package-lock.json

      - name: Install dependencies
        run: npm ci 

      - name: Build Website
        run: npm run build 

      - name: Cypress Run
        uses: cypress-io/github-action@v6
        with:
          working-directory: src/frontend
          # Forzamos a Next.js a correr en el 8080
          start: npx next start -p 8080
          wait-on: 'http://localhost:8080'
          browser: chrome
        env:
          # Usamos la ruta completa para evitar el error de "module not found"
          NODE_OPTIONS: "--require /home/runner/work/opentelemetry-demo/opentelemetry-demo/src/frontend/utils/telemetry/Instrumentation.js"
  test-go:
    name: Go Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/product-catalog
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: Build and Test
        run: |
          go build -o /dev/null ./...
          go test -v ./...

  test-cart:
    name: Cart Service Tests (.NET)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/cart
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x' 

      - name: Restore dependencies
        
        run: dotnet restore

      - name: Build
        
        run: dotnet build --no-restore

      - name: Run Tests
       
        run: dotnet test --no-build --verbosity normal